{% extends 'base.html' %}
{% block title %}
    Logout
{% endblock %}

{% block current_page %}
    Logout
{% endblock %}



{% block content %}
    <!-- Login Start -->
    <div class="container-fluid pt-5">
        <div class="row justify-content-center px-xl-5">
            <div class="col-lg-4 mb-5">
                <div class="contact-form">
                    <div id="success"></div>
                    <h3>We will miss you!</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- Login End -->

{% endblock %}
